h1{
    color: rgb(12,217,119);
}

.bold{
    font-weight: bold;
}

h2 {
    color: rgb(0,108,250);
    font-weight: bold;
}

h4, h5 {
    color: rgb(0,21,51);
    font-weight: bold;
}

ul{
    list-style: none;
}
