header{
    .navbar {
        padding: 20px 10px;
        img {
            height: 40px;
            width: auto;
        }
        .nav-link {
            color: rgb(0,21,51);
            font-weight: bold;
        }
    }

}
